.contenedor_general{
  display: block;
  margin-left: 10%;
  width: 80%;
  border: 2px solid #000;
  margin-top: 100px;
}
.contenedor {
    display: flex; /* Utilizar flexbox para alinear las cajas */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;
}

.caja {
    border: 2px solid #d2b356;
    background-color: #f0f0f0; /* Color de fondo de las cajas */
    border-radius: 50px; /* Esquinas redondeadas */
    padding: 20px; /* Espaciado interno */
    text-align: center;
    margin: 20px;
}

.caja h2{
  font-size: 20px;
  font-family: Helvetica;
}

.boton-circular {
    width: 40px; /* Ancho del botón */
    height: 40px; /* Altura del botón */
    border-radius: 50%; /* Hacer el botón circular */
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    font-size: 16px; /* Tamaño de fuente del botón */
    border: none; /* Eliminar borde del botón */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
}

/* cajas de checkbox */

.isla {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between; /* Alinea los elementos al principio y al final */
    align-items: center;
    width: 100%;
}

.opcion {
    margin-right: 10px;
}

.checkbox-wrapper {
    display: flex;
    align-items: center; /* Alinea verticalmente el checkbox y su etiqueta */
}

.checkbox-wrapper input[type="checkbox"] {
    width: 20px; /* Ajusta el tamaño del checkbox */
    height: 20px;
    margin-right: 5px; /* Agrega un espacio entre el checkbox y la etiqueta */
}

.points {
    margin: 0; /* Elimina el margen del párrafo */
}
