.tex-12 {
    width: 100%; /* Hace que ocupe todo el ancho */
    margin: 0 auto; /* Centra el elemento horizontalmente */
}

.text-center {
    text-align: center; /* Centra el texto dentro del elemento */
}

.inicio-title {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 34px;
    font-weight: 700;
    color: #111;
}

.titulo {
    background-color: #f0f0f0;
    border: 2px solid green;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center; /* Alinea los elementos al principio y al final */
    text-align: center;
    align-items: center;
    width: 1000px;
    margin-left: auto; /* Ajusta el margen izquierdo */
    margin-right: auto; /* Ajusta el margen derecho */
}

.linea {
    width: 80%; /* Asegura que la línea ocupe todo el ancho de la isla */
    border-top: 3px solid black; /* Estilo de la línea */
    margin-top: 10px; /* Espacio entre la línea y el contenido */
}

.isla {
    background-color: #D3D3CC;
    border: 2px solid #9A9A94;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    display: flex;
    cursor: pointer;
    justify-content: space-between; /* Alinea los elementos al principio y al final */
    align-items: center;
    position: relative;
    width: 1000px;
    margin-left: auto; /* Ajusta el margen izquierdo */
    margin-right: auto; /* Ajusta el margen derecho */
}

.contenido-opcion {
    display: flex;
    align-items: center;
}

.opcion {
    margin-right: auto; /* Empuja el elemento a la izquierda */
    margin-bottom: 0; /* Elimina el margen inferior */
}

.checkbox-wrapper {
    display: flex;
    align-items: center; /* Alinea verticalmente el checkbox y su etiqueta */
    margin-right: 10px; /* Agrega espacio entre la opción y el checkbox */
}

.checkbox-wrapper input[type="checkbox"] {
    width: 20px; /* Ajusta el tamaño del checkbox */
    height: 20px;
    margin-right: 15px; /* Agrega un espacio entre el checkbox y la etiqueta */
}

.points {
    margin: 0; /* Elimina el margen del párrafo */
    margin-right: 15px
}

.boton-emergente {
    width: 30px;
    height: 30px;
    background-color: #FDF7BF; /* Color de fondo del botón */
    border: 1px solid #291308;
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    position: relative; /* Añadido para posicionar los pseudo-elementos */
    margin-left: 15px;
}

.boton-emergente::before,
.boton-emergente::after {
    content: '';
    position: absolute;
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Centra horizontalmente */
    top: 50%;
    width: 50%;
    height: 2px;
    background-color: #462312; /* Color de las líneas */
}

.boton-emergente::before {
    transform: translate(-50%, -6px); /* Ajusta la posición vertical de la primera línea */
}

.boton-emergente::after {
    transform: translate(-50%, 4px); /* Ajusta la posición vertical de la segunda línea */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px; /* Limitar el ancho máximo de la ventana modal */
    text-align: center; /* Centrar el contenido de la ventana modal */
    border-radius: 5px;
    position: relative;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.mod {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.mod-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    margin-bottom: 10px;
    padding: 5px;
    width: calc(100% - 10px); /* Ancho del 100% menos el padding */
}

.circle {
    color: #111;
    background-color: #D3D3CC;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
}

.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos CSS para el contenido de la ventana modal */
.modal {
    display: none;
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    overflow: auto; /* Agregar desplazamiento cuando el contenido es demasiado grande */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px; /* Limitar el ancho máximo de la ventana modal */
    text-align: center; /* Centrar el contenido de la ventana modal */
    border-radius: 5px;
    position: relative;
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

/* Estilos para el menú desplegable */
.select-priority {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estilos para el botón de enviar */
#submitBtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
}

#submitBtn:hover {
    background-color: #45a049;
}

/* Estilos para el menú desplegable */
.ui-timepicker-wrapper {
    z-index: 9999; /* Ajustar z-index para que esté encima del cuadro de texto */
}

.menu-emergente {
    display: none;
    position: 10px left;
    top: 0;
    right: 100%; /* Alinea el menú emergente a la derecha del botón */
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px 0;
}

.menu-emergente {
    display: none;
    position: absolute;
    top: 100%;
    right: 0; /* Alinea el menú emergente a la derecha del botón */
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
}

.boton-eliminar,
.boton-modificar {
    display: block;
    background-color: #f0f0f0;
    color: black;
    border: none;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.boton-eliminar:hover,
.boton-modificar:hover {
    background-color: #e0e0e0;
}

.contenedor_general{
    display: block;
    margin-left: 10%;
    width: 50%;
    margin-top: 0;
  }
  
  .contenedor2 {
      display: flex; /* Utilizar flexbox para alinear las cajas */
      justify-content: left; /* Centrar horizontalmente */
      align-items: left;
  }
  
.caja {
      border: 2px solid #d2b356;
      background-color: #f0f0f0; /* Color de fondo de las cajas */
      border-radius: 20px; /* Esquinas redondeadas */
      padding: 20px; /* Espaciado interno */
      text-align: center;
      margin: 20px;
      position: center;
  }

  /* Estilos básicos para las tareas */
.tarea {
    margin-bottom: 5px;
}

/* Estilos para los puntos */
#puntos-container {
    margin-top: 20px;
}